NanoTechnologyv1_0_1/Application/WebSite/App_WebReferences/WSTTDNT/TTDNTWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelCount">
        <s:complexType />
      </s:element>
      <s:element name="SelCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SelCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConRelaciones" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAllwithFilters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConRelaciones" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="myFilters" type="tns:ArrayOfTTDNTFilters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTTDNTFilters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TTDNTFilters" nillable="true" type="tns:TTDNTFilters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TTDNTFilters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Obligatory" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Defaultview" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Vacia" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DNTID" type="tns:Numeric" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_Tabla" type="tns:String" />
          <s:element minOccurs="0" maxOccurs="1" name="renglones_maximo" type="tns:Numeric" />
          <s:element minOccurs="0" maxOccurs="1" name="renglones_minimo" type="tns:Numeric" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Numeric">
        <s:complexContent mixed="false">
          <s:extension base="tns:FiltersProperties">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="From" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="To" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FiltersProperties">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="tns:FiltersPropertiesModeOrderFields" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FiltersPropertiesModeOrderFields">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Ascendente" />
          <s:enumeration value="Descendente" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="String">
        <s:complexContent mixed="false">
          <s:extension base="tns:FiltersProperties">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FilterType" type="tns:TypesTextFilter" />
              <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TypesTextFilter">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Igual" />
          <s:enumeration value="Contenga" />
          <s:enumeration value="Empieze" />
          <s:enumeration value="Termine" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SelAllwithFiltersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelAllwithFiltersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAllpart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConRelaciones" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentRecordInt32" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RecordsDisplayedInt32" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAllpartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelAllpartResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="varDNTID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="varNombre_Tabla" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="varrenglones_maximo" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varrenglones_minimo" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="varDNTID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="varNombre_Tabla" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="varrenglones_maximo" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varrenglones_minimo" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyDNTID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyDNTID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ConRelaciones" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByKeyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrentPosicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyDNTID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrentPosicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CurrentPosicionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaExistencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyDNTID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaExistenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidaExistenciaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelCountSoapIn">
    <wsdl:part name="parameters" element="tns:SelCount" />
  </wsdl:message>
  <wsdl:message name="SelCountSoapOut">
    <wsdl:part name="parameters" element="tns:SelCountResponse" />
  </wsdl:message>
  <wsdl:message name="SelAllSoapIn">
    <wsdl:part name="parameters" element="tns:SelAll" />
  </wsdl:message>
  <wsdl:message name="SelAllSoapOut">
    <wsdl:part name="parameters" element="tns:SelAllResponse" />
  </wsdl:message>
  <wsdl:message name="SelAllwithFiltersSoapIn">
    <wsdl:part name="parameters" element="tns:SelAllwithFilters" />
  </wsdl:message>
  <wsdl:message name="SelAllwithFiltersSoapOut">
    <wsdl:part name="parameters" element="tns:SelAllwithFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="SelAllpartSoapIn">
    <wsdl:part name="parameters" element="tns:SelAllpart" />
  </wsdl:message>
  <wsdl:message name="SelAllpartSoapOut">
    <wsdl:part name="parameters" element="tns:SelAllpartResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetByKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetByKey" />
  </wsdl:message>
  <wsdl:message name="GetByKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CurrentPosicionSoapIn">
    <wsdl:part name="parameters" element="tns:CurrentPosicion" />
  </wsdl:message>
  <wsdl:message name="CurrentPosicionSoapOut">
    <wsdl:part name="parameters" element="tns:CurrentPosicionResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaExistenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaExistencia" />
  </wsdl:message>
  <wsdl:message name="ValidaExistenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaExistenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="objectBussinessTTDNTSoap">
    <wsdl:operation name="SelCount">
      <wsdl:input message="tns:SelCountSoapIn" />
      <wsdl:output message="tns:SelCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelAll">
      <wsdl:input message="tns:SelAllSoapIn" />
      <wsdl:output message="tns:SelAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelAllwithFilters">
      <wsdl:input message="tns:SelAllwithFiltersSoapIn" />
      <wsdl:output message="tns:SelAllwithFiltersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelAllpart">
      <wsdl:input message="tns:SelAllpartSoapIn" />
      <wsdl:output message="tns:SelAllpartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByKey">
      <wsdl:input message="tns:GetByKeySoapIn" />
      <wsdl:output message="tns:GetByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CurrentPosicion">
      <wsdl:input message="tns:CurrentPosicionSoapIn" />
      <wsdl:output message="tns:CurrentPosicionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaExistencia">
      <wsdl:input message="tns:ValidaExistenciaSoapIn" />
      <wsdl:output message="tns:ValidaExistenciaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="objectBussinessTTDNTSoap" type="tns:objectBussinessTTDNTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelCount">
      <soap:operation soapAction="http://tempuri.org/SelCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAll">
      <soap:operation soapAction="http://tempuri.org/SelAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllwithFilters">
      <soap:operation soapAction="http://tempuri.org/SelAllwithFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllpart">
      <soap:operation soapAction="http://tempuri.org/SelAllpart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByKey">
      <soap:operation soapAction="http://tempuri.org/GetByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentPosicion">
      <soap:operation soapAction="http://tempuri.org/CurrentPosicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaExistencia">
      <soap:operation soapAction="http://tempuri.org/ValidaExistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="objectBussinessTTDNTSoap12" type="tns:objectBussinessTTDNTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelCount">
      <soap12:operation soapAction="http://tempuri.org/SelCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAll">
      <soap12:operation soapAction="http://tempuri.org/SelAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllwithFilters">
      <soap12:operation soapAction="http://tempuri.org/SelAllwithFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllpart">
      <soap12:operation soapAction="http://tempuri.org/SelAllpart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByKey">
      <soap12:operation soapAction="http://tempuri.org/GetByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentPosicion">
      <soap12:operation soapAction="http://tempuri.org/CurrentPosicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaExistencia">
      <soap12:operation soapAction="http://tempuri.org/ValidaExistencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="objectBussinessTTDNT">
    <wsdl:port name="objectBussinessTTDNTSoap" binding="tns:objectBussinessTTDNTSoap">
      <soap:address location="http://192.168.1.101/WebServicesNanoTechnologyv1_0_1/TTDNTWS.asmx" />
    </wsdl:port>
    <wsdl:port name="objectBussinessTTDNTSoap12" binding="tns:objectBussinessTTDNTSoap12">
      <soap12:address location="http://192.168.1.101/WebServicesNanoTechnologyv1_0_1/TTDNTWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>





