NanoTechnologyv1_0_1/Application/WebSite/App_WebReferences/WSTTWorkFlow_Condiciones_por_Estado/TTWorkFlow_Condiciones_por_EstadoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelCount">
        <s:complexType />
      </s:element>
      <s:element name="SelCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SelCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConRelaciones" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAllwithFilters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConRelaciones" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="myFilters" type="tns:ArrayOfTTWorkFlow_Condiciones_por_EstadoFilters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTTWorkFlow_Condiciones_por_EstadoFilters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TTWorkFlow_Condiciones_por_EstadoFilters" nillable="true" type="tns:TTWorkFlow_Condiciones_por_EstadoFilters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TTWorkFlow_Condiciones_por_EstadoFilters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Obligatory" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Defaultview" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Vacia" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TTWorkFlow" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Folio" type="tns:Numeric" />
          <s:element minOccurs="0" maxOccurs="1" name="Fase" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Operador_de_Condicion" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Proceso" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Campo" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Condicion" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Operador" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor_Operador" type="tns:String" />
          <s:element minOccurs="0" maxOccurs="1" name="Prioridad" type="tns:Numeric" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Dependientes">
        <s:complexContent mixed="false">
          <s:extension base="tns:FiltersProperties">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FiltersProperties">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="tns:FiltersPropertiesModeOrderFields" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FiltersPropertiesModeOrderFields">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Ascendente" />
          <s:enumeration value="Descendente" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="String">
        <s:complexContent mixed="false">
          <s:extension base="tns:FiltersProperties">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FilterType" type="tns:TypesTextFilter" />
              <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TypesTextFilter">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Igual" />
          <s:enumeration value="Contenga" />
          <s:enumeration value="Empieze" />
          <s:enumeration value="Termine" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Numeric">
        <s:complexContent mixed="false">
          <s:extension base="tns:FiltersProperties">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="From" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="To" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelAllwithFiltersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelAllwithFiltersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAllpart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConRelaciones" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CurrentRecordInt32" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RecordsDisplayedInt32" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelAllpartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelAllpartResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="globalInfo" type="tns:GlobalData" />
            <s:element minOccurs="1" maxOccurs="1" name="varTTWorkFlow" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varFase" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varEstado" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varOperador_de_Condicion" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varProceso" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varCampo" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varCondicion" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varOperador" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="varValor_Operador" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="varPrioridad" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GlobalData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Folio" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComputerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WindowsVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServidorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServidorNameComputer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatabaseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemVersion" type="tns:VersionData" />
          <s:element minOccurs="0" maxOccurs="1" name="AppToTempFiles" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Language" type="tns:GlobalDataLanguages" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VersionData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SystemName" type="tns:VersionDataModules" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemVersion" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="VersionDataModules">
        <s:restriction base="s:string">
          <s:enumeration value="Produccion" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="GlobalDataLanguages">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Default" />
          <s:enumeration value="Spanish" />
          <s:enumeration value="English" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertWithReturnValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="globalInfo" type="tns:GlobalData" />
            <s:element minOccurs="1" maxOccurs="1" name="varTTWorkFlow" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varFase" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varEstado" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varOperador_de_Condicion" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varProceso" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varCampo" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varCondicion" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varOperador" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="varValor_Operador" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="varPrioridad" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWithReturnValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertWithReturnValueResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="globalInfo" type="tns:GlobalData" />
            <s:element minOccurs="1" maxOccurs="1" name="varTTWorkFlow" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varFolio" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varFase" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varEstado" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varOperador_de_Condicion" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varProceso" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varCampo" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varCondicion" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="varOperador" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="varValor_Operador" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="varPrioridad" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="globalInfo" type="tns:GlobalData" />
            <s:element minOccurs="1" maxOccurs="1" name="KeyTTWorkFlow" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="KeyFolio" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyTTWorkFlow" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="KeyFolio" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ConRelaciones" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="objectBussinessTTWorkFlow_Condiciones_por_Estado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="iProcess" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderClickHeaderCell" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderClickHeaderCellType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MyConfigurationColumns" type="tns:ArrayOfObjectBussinessTTConfigurationAdvancedColumn" />
          <s:element minOccurs="0" maxOccurs="1" name="MyFilters" type="tns:ArrayOfObjectBussinessTTFiltro" />
          <s:element minOccurs="0" maxOccurs="1" name="MyConfigurationColumnsObligatories" type="tns:ArrayOfObjectBussinessTTConfigurationAdvancedColumn" />
          <s:element minOccurs="0" maxOccurs="1" name="MyFiltersObligatories" type="tns:ArrayOfObjectBussinessTTFiltro" />
          <s:element minOccurs="0" maxOccurs="1" name="MyFiltersQuick" type="tns:objectBussinessTTFiltro" />
          <s:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:ArrayOfTTWorkFlow_Condiciones_por_EstadoFilters" />
          <s:element minOccurs="1" maxOccurs="1" name="TTWorkFlow" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Folio" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fase" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operador_de_Condicion" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Proceso" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Campo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Condicion" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operador" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor_Operador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Prioridad" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sWhere" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfObjectBussinessTTConfigurationAdvancedColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="objectBussinessTTConfigurationAdvancedColumn" nillable="true" type="tns:objectBussinessTTConfigurationAdvancedColumn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="objectBussinessTTConfigurationAdvancedColumn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="iProcess" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GlobalInformation" type="tns:GlobalData" />
          <s:element minOccurs="0" maxOccurs="1" name="MyFilters" type="tns:ArrayOfObjectBussinessTTFiltro" />
          <s:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:ArrayOfTTConfigurationAdvancedColumnFilters" />
          <s:element minOccurs="1" maxOccurs="1" name="IdConfiguration" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcesoId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="tns:ArrayOfObjectBussinessTTConfigurationAdvancedColumn_Detalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfObjectBussinessTTFiltro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="objectBussinessTTFiltro" nillable="true" type="tns:objectBussinessTTFiltro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="objectBussinessTTFiltro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="iProcess" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdFiltro" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcesoID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Filtro_Detalle" type="tns:ArrayOfObjectBussinessTTFiltro_Detalle" />
          <s:element minOccurs="0" maxOccurs="1" name="GlobalInformation" type="tns:GlobalData" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryType" type="tns:TTFiltersAdvancedEntryType" />
          <s:element minOccurs="0" maxOccurs="1" name="WhereJoin" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfObjectBussinessTTFiltro_Detalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="objectBussinessTTFiltro_Detalle" nillable="true" type="tns:objectBussinessTTFiltro_Detalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="objectBussinessTTFiltro_Detalle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="iProcess" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTTFiltro" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Folio" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DNTFiltro" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Dt_Filtro" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Question" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DesdeNumerico" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HastaNumerico" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DesdeDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="HastaDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Ano" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Mes" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Semana" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Si_No" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CondicionTexto" type="tns:TypesTextFilter" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoDeControlBusqueda" type="tns:TypeControlSearchAdvanced" />
          <s:element minOccurs="0" maxOccurs="1" name="RutaDNTs" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DesdeDecimal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HastaDecimal" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DesdeTexto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HastaTexto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filtro_Dependientes" type="tns:ArrayOfObjectBussinessTTFiltro_Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Filtro_Detalle" type="tns:objectBussinessTTFiltro" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TypeControlSearchAdvanced">
        <s:restriction base="s:string">
          <s:enumeration value="Numeric" />
          <s:enumeration value="Money" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Text" />
          <s:enumeration value="Logic" />
          <s:enumeration value="Date" />
          <s:enumeration value="Hour" />
          <s:enumeration value="Dependiente" />
          <s:enumeration value="Color" />
          <s:enumeration value="MultiRenglon" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfObjectBussinessTTFiltro_Dependientes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="objectBussinessTTFiltro_Dependientes" nillable="true" type="tns:objectBussinessTTFiltro_Dependientes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="objectBussinessTTFiltro_Dependientes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="iProcess" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:ArrayOfTTFiltro_DependientesFilters" />
          <s:element minOccurs="1" maxOccurs="1" name="IdFiltro" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdFiltro_Dependientes" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DT" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTTFiltro_DependientesFilters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TTFiltro_DependientesFilters" nillable="true" type="tns:TTFiltro_DependientesFilters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TTFiltro_DependientesFilters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Obligatory" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Defaultview" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Vacia" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="IdFiltro" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="IdFiltro_Dependientes" type="tns:Numeric" />
          <s:element minOccurs="0" maxOccurs="1" name="DT" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="tns:String" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TTFiltersAdvancedEntryType">
        <s:restriction base="s:string">
          <s:enumeration value="QuickFilter" />
          <s:enumeration value="FilterAdvanced" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfTTConfigurationAdvancedColumnFilters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TTConfigurationAdvancedColumnFilters" nillable="true" type="tns:TTConfigurationAdvancedColumnFilters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TTConfigurationAdvancedColumnFilters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Obligatory" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Defaultview" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Vacia" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="IdConfiguration" type="tns:Numeric" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcesoId" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="tns:TTConfigurationAdvancedColumn_DetalleFilters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TTConfigurationAdvancedColumn_DetalleFilters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Obligatory" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Defaultview" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Vacia" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="IdConfiguration" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="IdConfiguraionDetalle" type="tns:Numeric" />
          <s:element minOccurs="0" maxOccurs="1" name="DNT" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="DT" type="tns:Dependientes" />
          <s:element minOccurs="0" maxOccurs="1" name="Visible" type="tns:Logic" />
          <s:element minOccurs="0" maxOccurs="1" name="Orden" type="tns:Numeric" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPresentacion" type="tns:Dependientes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Logic">
        <s:complexContent mixed="false">
          <s:extension base="tns:FiltersProperties">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Active" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfObjectBussinessTTConfigurationAdvancedColumn_Detalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="objectBussinessTTConfigurationAdvancedColumn_Detalle" nillable="true" type="tns:objectBussinessTTConfigurationAdvancedColumn_Detalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="objectBussinessTTConfigurationAdvancedColumn_Detalle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="iProcess" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MyFilters" type="tns:ArrayOfObjectBussinessTTFiltro" />
          <s:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:ArrayOfTTConfigurationAdvancedColumn_DetalleFilters" />
          <s:element minOccurs="1" maxOccurs="1" name="IdConfiguration" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdConfiguraionDetalle" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DNT" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DT" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Visible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Orden" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoPresentacion" type="tns:TypeControlPresentation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTTConfigurationAdvancedColumn_DetalleFilters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TTConfigurationAdvancedColumn_DetalleFilters" nillable="true" type="tns:TTConfigurationAdvancedColumn_DetalleFilters" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TypeControlPresentation">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Colorear" />
          <s:enumeration value="CalendarizarStart" />
          <s:enumeration value="CalendarizarEnd" />
          <s:enumeration value="Calendarizar" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByKeyResult" type="tns:objectBussinessTTWorkFlow_Condiciones_por_Estado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrentPosicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyTTWorkFlow" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="KeyFolio" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrentPosicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CurrentPosicionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaExistencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeyTTWorkFlow" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="KeyFolio" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaExistenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidaExistenciaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataTTWorkFlowwithParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataTTWorkFlowwithParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataTTWorkFlowwithParentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataTTWorkFlow">
        <s:complexType />
      </s:element>
      <s:element name="FillDataTTWorkFlowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataTTWorkFlowResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataTTWorkFlowCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CascadingDropDownNameValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isDefaultValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCascadingDropDownNameValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue" nillable="true" type="tns:CascadingDropDownNameValue" />
        </s:sequence>
      </s:complexType>
      <s:element name="FillDataTTWorkFlowCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataTTWorkFlowCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataTTWorkFlowwithParentCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataTTWorkFlowwithParentCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataTTWorkFlowwithParentCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataFasewithParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataFasewithParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataFasewithParentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataFase">
        <s:complexType />
      </s:element>
      <s:element name="FillDataFaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataFaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataFaseCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataFaseCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataFaseCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataFasewithParentCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataFasewithParentCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataFasewithParentCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstadowithParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstadowithParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataEstadowithParentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstado">
        <s:complexType />
      </s:element>
      <s:element name="FillDataEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataEstadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstadoCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstadoCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataEstadoCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstadowithParentCDD2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contextKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstadowithParentCDD2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataEstadowithParentCDD2Result" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstadowithParentCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataEstadowithParentCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataEstadowithParentCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataOperador_de_Condicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFiltro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataOperador_de_CondicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataOperador_de_CondicionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataOperador_de_CondicionCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataOperador_de_CondicionCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataOperador_de_CondicionCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataProceso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFiltro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataProcesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataProcesoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataProcesoCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataProcesoCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataProcesoCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCampowithParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCampowithParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataCampowithParentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCampo">
        <s:complexType />
      </s:element>
      <s:element name="FillDataCampoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataCampoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCampoCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCampoCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataCampoCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCampowithParentCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCampowithParentCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataCampowithParentCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCondicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFiltro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCondicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataCondicionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCondicionCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataCondicionCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataCondicionCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataOperador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFiltro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataOperadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataOperadorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataOperadorCDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDataOperadorCDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDataOperadorCDDResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelCountSoapIn">
    <wsdl:part name="parameters" element="tns:SelCount" />
  </wsdl:message>
  <wsdl:message name="SelCountSoapOut">
    <wsdl:part name="parameters" element="tns:SelCountResponse" />
  </wsdl:message>
  <wsdl:message name="SelAllSoapIn">
    <wsdl:part name="parameters" element="tns:SelAll" />
  </wsdl:message>
  <wsdl:message name="SelAllSoapOut">
    <wsdl:part name="parameters" element="tns:SelAllResponse" />
  </wsdl:message>
  <wsdl:message name="SelAllwithFiltersSoapIn">
    <wsdl:part name="parameters" element="tns:SelAllwithFilters" />
  </wsdl:message>
  <wsdl:message name="SelAllwithFiltersSoapOut">
    <wsdl:part name="parameters" element="tns:SelAllwithFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="SelAllpartSoapIn">
    <wsdl:part name="parameters" element="tns:SelAllpart" />
  </wsdl:message>
  <wsdl:message name="SelAllpartSoapOut">
    <wsdl:part name="parameters" element="tns:SelAllpartResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="InsertWithReturnValueSoapIn">
    <wsdl:part name="parameters" element="tns:InsertWithReturnValue" />
  </wsdl:message>
  <wsdl:message name="InsertWithReturnValueSoapOut">
    <wsdl:part name="parameters" element="tns:InsertWithReturnValueResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetByKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetByKey" />
  </wsdl:message>
  <wsdl:message name="GetByKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CurrentPosicionSoapIn">
    <wsdl:part name="parameters" element="tns:CurrentPosicion" />
  </wsdl:message>
  <wsdl:message name="CurrentPosicionSoapOut">
    <wsdl:part name="parameters" element="tns:CurrentPosicionResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaExistenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaExistencia" />
  </wsdl:message>
  <wsdl:message name="ValidaExistenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataTTWorkFlowwithParentSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataTTWorkFlowwithParent" />
  </wsdl:message>
  <wsdl:message name="FillDataTTWorkFlowwithParentSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataTTWorkFlowwithParentResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataTTWorkFlowSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataTTWorkFlow" />
  </wsdl:message>
  <wsdl:message name="FillDataTTWorkFlowSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataTTWorkFlowResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataTTWorkFlowCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataTTWorkFlowCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataTTWorkFlowCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataTTWorkFlowCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataTTWorkFlowwithParentCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataTTWorkFlowwithParentCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataTTWorkFlowwithParentCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataTTWorkFlowwithParentCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataFasewithParentSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataFasewithParent" />
  </wsdl:message>
  <wsdl:message name="FillDataFasewithParentSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataFasewithParentResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataFaseSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataFase" />
  </wsdl:message>
  <wsdl:message name="FillDataFaseSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataFaseResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataFaseCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataFaseCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataFaseCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataFaseCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataFasewithParentCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataFasewithParentCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataFasewithParentCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataFasewithParentCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadowithParentSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataEstadowithParent" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadowithParentSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataEstadowithParentResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataEstado" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadoCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataEstadoCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadoCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataEstadoCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadowithParentCDD2SoapIn">
    <wsdl:part name="parameters" element="tns:FillDataEstadowithParentCDD2" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadowithParentCDD2SoapOut">
    <wsdl:part name="parameters" element="tns:FillDataEstadowithParentCDD2Response" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadowithParentCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataEstadowithParentCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataEstadowithParentCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataEstadowithParentCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataOperador_de_CondicionSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataOperador_de_Condicion" />
  </wsdl:message>
  <wsdl:message name="FillDataOperador_de_CondicionSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataOperador_de_CondicionResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataOperador_de_CondicionCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataOperador_de_CondicionCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataOperador_de_CondicionCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataOperador_de_CondicionCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataProcesoSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataProceso" />
  </wsdl:message>
  <wsdl:message name="FillDataProcesoSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataProcesoCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataProcesoCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataProcesoCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataProcesoCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataCampowithParentSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataCampowithParent" />
  </wsdl:message>
  <wsdl:message name="FillDataCampowithParentSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataCampowithParentResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataCampoSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataCampo" />
  </wsdl:message>
  <wsdl:message name="FillDataCampoSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataCampoResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataCampoCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataCampoCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataCampoCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataCampoCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataCampowithParentCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataCampowithParentCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataCampowithParentCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataCampowithParentCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataCondicionSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataCondicion" />
  </wsdl:message>
  <wsdl:message name="FillDataCondicionSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataCondicionResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataCondicionCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataCondicionCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataCondicionCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataCondicionCDDResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataOperadorSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataOperador" />
  </wsdl:message>
  <wsdl:message name="FillDataOperadorSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataOperadorResponse" />
  </wsdl:message>
  <wsdl:message name="FillDataOperadorCDDSoapIn">
    <wsdl:part name="parameters" element="tns:FillDataOperadorCDD" />
  </wsdl:message>
  <wsdl:message name="FillDataOperadorCDDSoapOut">
    <wsdl:part name="parameters" element="tns:FillDataOperadorCDDResponse" />
  </wsdl:message>
  <wsdl:portType name="objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap">
    <wsdl:operation name="SelCount">
      <wsdl:input message="tns:SelCountSoapIn" />
      <wsdl:output message="tns:SelCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelAll">
      <wsdl:input message="tns:SelAllSoapIn" />
      <wsdl:output message="tns:SelAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelAllwithFilters">
      <wsdl:input message="tns:SelAllwithFiltersSoapIn" />
      <wsdl:output message="tns:SelAllwithFiltersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelAllpart">
      <wsdl:input message="tns:SelAllpartSoapIn" />
      <wsdl:output message="tns:SelAllpartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertWithReturnValue">
      <wsdl:input message="tns:InsertWithReturnValueSoapIn" />
      <wsdl:output message="tns:InsertWithReturnValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByKey">
      <wsdl:input message="tns:GetByKeySoapIn" />
      <wsdl:output message="tns:GetByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CurrentPosicion">
      <wsdl:input message="tns:CurrentPosicionSoapIn" />
      <wsdl:output message="tns:CurrentPosicionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaExistencia">
      <wsdl:input message="tns:ValidaExistenciaSoapIn" />
      <wsdl:output message="tns:ValidaExistenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowwithParent">
      <wsdl:input message="tns:FillDataTTWorkFlowwithParentSoapIn" />
      <wsdl:output message="tns:FillDataTTWorkFlowwithParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlow">
      <wsdl:input message="tns:FillDataTTWorkFlowSoapIn" />
      <wsdl:output message="tns:FillDataTTWorkFlowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowCDD">
      <wsdl:input message="tns:FillDataTTWorkFlowCDDSoapIn" />
      <wsdl:output message="tns:FillDataTTWorkFlowCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowwithParentCDD">
      <wsdl:input message="tns:FillDataTTWorkFlowwithParentCDDSoapIn" />
      <wsdl:output message="tns:FillDataTTWorkFlowwithParentCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataFasewithParent">
      <wsdl:input message="tns:FillDataFasewithParentSoapIn" />
      <wsdl:output message="tns:FillDataFasewithParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataFase">
      <wsdl:input message="tns:FillDataFaseSoapIn" />
      <wsdl:output message="tns:FillDataFaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataFaseCDD">
      <wsdl:input message="tns:FillDataFaseCDDSoapIn" />
      <wsdl:output message="tns:FillDataFaseCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataFasewithParentCDD">
      <wsdl:input message="tns:FillDataFasewithParentCDDSoapIn" />
      <wsdl:output message="tns:FillDataFasewithParentCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParent">
      <wsdl:input message="tns:FillDataEstadowithParentSoapIn" />
      <wsdl:output message="tns:FillDataEstadowithParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataEstado">
      <wsdl:input message="tns:FillDataEstadoSoapIn" />
      <wsdl:output message="tns:FillDataEstadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadoCDD">
      <wsdl:input message="tns:FillDataEstadoCDDSoapIn" />
      <wsdl:output message="tns:FillDataEstadoCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParentCDD2">
      <wsdl:input message="tns:FillDataEstadowithParentCDD2SoapIn" />
      <wsdl:output message="tns:FillDataEstadowithParentCDD2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParentCDD">
      <wsdl:input message="tns:FillDataEstadowithParentCDDSoapIn" />
      <wsdl:output message="tns:FillDataEstadowithParentCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador_de_Condicion">
      <wsdl:input message="tns:FillDataOperador_de_CondicionSoapIn" />
      <wsdl:output message="tns:FillDataOperador_de_CondicionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador_de_CondicionCDD">
      <wsdl:input message="tns:FillDataOperador_de_CondicionCDDSoapIn" />
      <wsdl:output message="tns:FillDataOperador_de_CondicionCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataProceso">
      <wsdl:input message="tns:FillDataProcesoSoapIn" />
      <wsdl:output message="tns:FillDataProcesoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataProcesoCDD">
      <wsdl:input message="tns:FillDataProcesoCDDSoapIn" />
      <wsdl:output message="tns:FillDataProcesoCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataCampowithParent">
      <wsdl:input message="tns:FillDataCampowithParentSoapIn" />
      <wsdl:output message="tns:FillDataCampowithParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataCampo">
      <wsdl:input message="tns:FillDataCampoSoapIn" />
      <wsdl:output message="tns:FillDataCampoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataCampoCDD">
      <wsdl:input message="tns:FillDataCampoCDDSoapIn" />
      <wsdl:output message="tns:FillDataCampoCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataCampowithParentCDD">
      <wsdl:input message="tns:FillDataCampowithParentCDDSoapIn" />
      <wsdl:output message="tns:FillDataCampowithParentCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataCondicion">
      <wsdl:input message="tns:FillDataCondicionSoapIn" />
      <wsdl:output message="tns:FillDataCondicionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataCondicionCDD">
      <wsdl:input message="tns:FillDataCondicionCDDSoapIn" />
      <wsdl:output message="tns:FillDataCondicionCDDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador">
      <wsdl:input message="tns:FillDataOperadorSoapIn" />
      <wsdl:output message="tns:FillDataOperadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillDataOperadorCDD">
      <wsdl:input message="tns:FillDataOperadorCDDSoapIn" />
      <wsdl:output message="tns:FillDataOperadorCDDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap" type="tns:objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelCount">
      <soap:operation soapAction="http://tempuri.org/SelCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAll">
      <soap:operation soapAction="http://tempuri.org/SelAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllwithFilters">
      <soap:operation soapAction="http://tempuri.org/SelAllwithFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllpart">
      <soap:operation soapAction="http://tempuri.org/SelAllpart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWithReturnValue">
      <soap:operation soapAction="http://tempuri.org/InsertWithReturnValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByKey">
      <soap:operation soapAction="http://tempuri.org/GetByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentPosicion">
      <soap:operation soapAction="http://tempuri.org/CurrentPosicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaExistencia">
      <soap:operation soapAction="http://tempuri.org/ValidaExistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowwithParent">
      <soap:operation soapAction="http://tempuri.org/FillDataTTWorkFlowwithParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlow">
      <soap:operation soapAction="http://tempuri.org/FillDataTTWorkFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataTTWorkFlowCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowwithParentCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataTTWorkFlowwithParentCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataFasewithParent">
      <soap:operation soapAction="http://tempuri.org/FillDataFasewithParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataFase">
      <soap:operation soapAction="http://tempuri.org/FillDataFase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataFaseCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataFaseCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataFasewithParentCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataFasewithParentCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParent">
      <soap:operation soapAction="http://tempuri.org/FillDataEstadowithParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstado">
      <soap:operation soapAction="http://tempuri.org/FillDataEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadoCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataEstadoCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParentCDD2">
      <soap:operation soapAction="http://tempuri.org/FillDataEstadowithParentCDD2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParentCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataEstadowithParentCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador_de_Condicion">
      <soap:operation soapAction="http://tempuri.org/FillDataOperador_de_Condicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador_de_CondicionCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataOperador_de_CondicionCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataProceso">
      <soap:operation soapAction="http://tempuri.org/FillDataProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataProcesoCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataProcesoCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCampowithParent">
      <soap:operation soapAction="http://tempuri.org/FillDataCampowithParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCampo">
      <soap:operation soapAction="http://tempuri.org/FillDataCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCampoCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataCampoCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCampowithParentCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataCampowithParentCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCondicion">
      <soap:operation soapAction="http://tempuri.org/FillDataCondicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCondicionCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataCondicionCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador">
      <soap:operation soapAction="http://tempuri.org/FillDataOperador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataOperadorCDD">
      <soap:operation soapAction="http://tempuri.org/FillDataOperadorCDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap12" type="tns:objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelCount">
      <soap12:operation soapAction="http://tempuri.org/SelCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAll">
      <soap12:operation soapAction="http://tempuri.org/SelAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllwithFilters">
      <soap12:operation soapAction="http://tempuri.org/SelAllwithFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllpart">
      <soap12:operation soapAction="http://tempuri.org/SelAllpart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWithReturnValue">
      <soap12:operation soapAction="http://tempuri.org/InsertWithReturnValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByKey">
      <soap12:operation soapAction="http://tempuri.org/GetByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentPosicion">
      <soap12:operation soapAction="http://tempuri.org/CurrentPosicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaExistencia">
      <soap12:operation soapAction="http://tempuri.org/ValidaExistencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowwithParent">
      <soap12:operation soapAction="http://tempuri.org/FillDataTTWorkFlowwithParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlow">
      <soap12:operation soapAction="http://tempuri.org/FillDataTTWorkFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataTTWorkFlowCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataTTWorkFlowwithParentCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataTTWorkFlowwithParentCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataFasewithParent">
      <soap12:operation soapAction="http://tempuri.org/FillDataFasewithParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataFase">
      <soap12:operation soapAction="http://tempuri.org/FillDataFase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataFaseCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataFaseCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataFasewithParentCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataFasewithParentCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParent">
      <soap12:operation soapAction="http://tempuri.org/FillDataEstadowithParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstado">
      <soap12:operation soapAction="http://tempuri.org/FillDataEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadoCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataEstadoCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParentCDD2">
      <soap12:operation soapAction="http://tempuri.org/FillDataEstadowithParentCDD2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataEstadowithParentCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataEstadowithParentCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador_de_Condicion">
      <soap12:operation soapAction="http://tempuri.org/FillDataOperador_de_Condicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador_de_CondicionCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataOperador_de_CondicionCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataProceso">
      <soap12:operation soapAction="http://tempuri.org/FillDataProceso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataProcesoCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataProcesoCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCampowithParent">
      <soap12:operation soapAction="http://tempuri.org/FillDataCampowithParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCampo">
      <soap12:operation soapAction="http://tempuri.org/FillDataCampo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCampoCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataCampoCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCampowithParentCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataCampowithParentCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCondicion">
      <soap12:operation soapAction="http://tempuri.org/FillDataCondicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataCondicionCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataCondicionCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataOperador">
      <soap12:operation soapAction="http://tempuri.org/FillDataOperador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDataOperadorCDD">
      <soap12:operation soapAction="http://tempuri.org/FillDataOperadorCDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="objectBussinessTTWorkFlow_Condiciones_por_Estado">
    <wsdl:port name="objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap" binding="tns:objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap">
      <soap:address location="http://192.168.1.101/WebServicesNanoTechnologyv1_0_1/TTWorkFlow_Condiciones_por_EstadoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap12" binding="tns:objectBussinessTTWorkFlow_Condiciones_por_EstadoSoap12">
      <soap12:address location="http://192.168.1.101/WebServicesNanoTechnologyv1_0_1/TTWorkFlow_Condiciones_por_EstadoWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>





